.personal-middleman{
    padding: 100px 0;

    @media screen and (max-width: 991px) {
        padding: 50px 0px;
    }

    h2{
        font-family: 'Lato', sans-serif;
        font-weight: 700;
    }

    .middleman-list{
        padding-top: 35px;

        li{
            display: flex;
            align-items: center;
            color: #ffffff;
            margin-bottom: 5px;
        }
    }
}