.video-instruction{
    background: url(../images/bg/videoIns.png) no-repeat top center/contain;

    .section-header{
        padding: 150px 0 35px;

        @media screen and (max-width: 991px) {
            padding: 60px 0 35px;
        }

        h2{
            font-weight: 700;
        }
    }

    iframe{
        border-radius: 30px;          
    }
}